body {
  margin: 0;
}

main {
  width: 400vh;
}

.bannerImage {
  z-index: 0;
position: absolute;  
}
#oskar2023, #cinema {
  position: relative;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  position: relative;
  padding-top:50px;
  padding-left:30px;
  color: white;
}

#input {
  position: relative;
  z-index: 2;
  border-radius: 5px;
}

#input:hover {
opacity: 70%;
}
#oskar2023:hover, #cinema:hover {
text-decoration: underline;

}

.oskar, .play {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  opacity: 70%;
 }

 


